
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 105.2rem;
}.frame-1-pR6 {
  box-sizing: border-box;
  padding: 3.6rem 24.4rem 4rem 12.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: rgba(243, 203, 244, 0.8000000119);
}
.frame-1-pR6 .rectangle-1-Q8Q {
  margin: 0.5rem 1.4rem 0rem 0rem;
  width: 24.6rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-pR6 .auto-group-x5on-g5v {
  width: 42.3rem;
  flex-shrink: 0;
}
.frame-1-pR6 .auto-group-x5on-g5v .auto-group-pu5e-Bgt {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 3.4rem;
  position: relative;
}
.frame-1-pR6 .auto-group-x5on-g5v .auto-group-pu5e-Bgt .rectangle-3-usn {
  width: 5.7rem;
  height: 3.2rem;
  position: absolute;
  left: 12.4rem;
  top: 0;
  background-color: #f40bb3;
}
.frame-1-pR6 .auto-group-x5on-g5v .auto-group-pu5e-Bgt .rectangle-4-dYt {
  width: 7.3rem;
  height: 3.2rem;
  position: absolute;
  left: 23.1rem;
  top: 0;
  background-color: #f40bb3;
}
.frame-1-pR6 .auto-group-x5on-g5v .auto-group-pu5e-Bgt .rectangle-5-nAt {
  width: 6.8rem;
  height: 3.2rem;
  position: absolute;
  left: 35.5rem;
  top: 0;
  background-color: #f40bb3;
}
.frame-1-pR6 .auto-group-x5on-g5v .auto-group-pu5e-Bgt .rectangle-2-vXz {
  width: 6.2rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f40bb3;
}
.frame-1-pR6 .auto-group-x5on-g5v .auto-group-pu5e-Bgt .home-about-hobbies-others-TXv {
  width: 40.3rem;
  height: 1.9rem;
  position: absolute;
  left: 1.1rem;
  top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Jacques Francois Shadow, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-pR6 .auto-group-x5on-g5v .im-sabee-6at {
  margin-left: 5.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Jacques Francois Shadow, 'Source Sans Pro';
  white-space: nowrap;
}
